.page__body {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	font-family: $font-family-inter;
	font-size: clamp(0.625rem, calc(0.101rem + 2.15vw), 0.875rem);
	line-height: 1.625;
	letter-spacing: 0;

	color: $primary-blue;

	background-color: rgba(255, 255, 255, 1);

	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: local;
	background-size: cover;

	@include media-breakpoint-up(sm) {
		font-size: 14px;
	}

	@include media-breakpoint-up(md) {
		font-size: 16px;
		line-height: 1.7;
	}
}

main {
	flex: 1 0 auto;
	overflow: hidden;
	padding: 123px 0 0 0;

	@include media-breakpoint-up(md) {
		padding-top: 0;
	}
}

.container {
	max-width: 100%;

	@include media-breakpoint-up(xl) {
		max-width: 1020px;
		margin: 0 auto;
	}
}

h1 {
	font-size: clamp(0.938rem, calc(-0.242rem + 4.84vw), 1.5rem);
	font-weight: 600;
	line-height: 1.73;
	letter-spacing: 1px;
	color: $primary-black;

	@include media-breakpoint-up(sm) {
		font-size: 30px;
		line-height: 1.4;
	}

	@include media-breakpoint-up(md) {
		font-size: 36px;
	}

	@include media-breakpoint-up(lg) {
		font-size: 50px;
		line-height: 1.32;
	}
}

h2 {
	font-size: 15px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0;
	color: $primary-black;

	@include media-breakpoint-up(xs) {
		font-size: 15px;
		line-height: 3.2;
	}

	@include media-breakpoint-up(sm) {
		font-size: 26px;
		line-height: 3.2;
	}

	@include media-breakpoint-up(md) {
		font-size: 30px;
		line-height: 1.4;
	}

	@include media-breakpoint-up(lg) {
		font-size: 36px;
	}
}

h3 {
	font-size: 13px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0;

	color: $primary-black;

	@include media-breakpoint-up(sm) {
		font-size: 24px;
	}
}

.btn-main {
	display: inline-block;
	text-align: center;

	font-size: 13px;
	line-height: 2;
	font-weight: 700;
	letter-spacing: 0;
	color: $primary-white;

	padding: 6px 43px;

	border-radius: 15px;
	background-color: $secondary-blue;
	transition: opacity 0.2s ease-in;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		position: relative;
		top: 1px;
	}

	@include media-breakpoint-up(sm) {
		font-size: 15px;
		padding: 10px 65px;
	}

	@include media-breakpoint-up(lg) {
		font-size: 16px;
		padding: 14px 86px;
	}

	@include media-breakpoint-up(xl) {
		font-size: 16px;
		padding: 17px 109px;
	}
}

.btn-nav {
	display: inline-block;
	text-align: center;

	padding: 7px 29px;

	font-size: 13px;
	line-height: 1;
	color: $secondary-blue;

	background-color: #fff;

	@include media-breakpoint-up(sm) {
		padding: 10px 40px;
		font-size: 16px;
	}

	@include media-breakpoint-up(md) {
		font-size: 18px;
		padding: 15px 65px;
	}
}

.btn-subscribe {
	font-size: 13px;
	padding: 5px 38px;

	font-family: $font-family-inter;
	font-size: 13px;
	line-height: 2;
	font-weight: 600;

	border-radius: 11px;

	@include media-breakpoint-up(sm) {
		padding: 3px 55px;

		font-size: 16px;
		line-height: 1.625;
	}
}

.d-none {
	// display: none !important;
	display: none;
}

// Custom classes for social icons
.facebook-login,
.apple-login,
.google-login {
	svg {
		&:focus,
		&:active {
			border-radius: 999px;
			outline: 4px solid $shadow-btn;
		}
	}
}

#facebook-login {
	&:hover {
		fill: #0c63d4;
	}
}
