.form {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 15px;

	font-size: 14px;
	font-family: $font-family-mulish;
	font-weight: 300;

	@include media-breakpoint-up(sm) {
		width: 75%;

		grid-template-rows: auto;

		font-size: 16px;
	}

	@include media-breakpoint-up(md) {
		max-width: 388px;
		width: 100%;
	}

	@include media-breakpoint-up(lg) {
		width: 387px;
	}

	button,
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	textarea {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 8px;

		font-family: $font-family-mulish;
		font-weight: 300;
		line-height: 26px;

		border-radius: 15px;
		border: 1px solid rgba(0, 0, 0, 0.18);

		&::placeholder {
			padding: 0 14px;
			color: $secondary-black;
		}

		@include media-breakpoint-up(md) {
			font-size: 16px;
		}
	}
}

// form-grid
.grid-form__item1 {
	grid-column-start: 1;
	grid-row-start: 1;
}
.grid-form__item2 {
	grid-column-start: 2;
	grid-row-start: 1;
}
.grid-form__item3 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
}

//form-list-grid
.grid-list__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	gap: 15px;
}

// Form dates on home page
.form-dates {
	border-radius: 15px;
	color: $secondary-black;

	&::after {
		content: url("../../resources/background-svg/Union.svg");
		display: inline-block;
		position: absolute;
		top: -425px;
		left: clamp(-7.5rem, calc(-13.571rem + 48.57vw), -2.188rem);
		width: 402px;
		height: 414px;
		opacity: 0.19;
		z-index: -1;

		@include media-breakpoint-up(xs) {
			left: clamp(-2.625rem, calc(-14.198rem + 49.25vw), 3.5rem);
		}

		@include media-breakpoint-up(sm) {
			top: -430px;
			left: clamp(-0.438rem, calc(-14.008rem + 37.7vw), 4.063rem);
		}

		@include media-breakpoint-up(md) {
			width: 300px;
			height: auto;
			top: -40px;
			left: clamp(25rem, calc(-0.83rem + 53.81vw), 32.5rem);
			opacity: 0.6;
		}

		@include media-breakpoint-up(lg) {
			width: 402px;
			height: 414px;
			top: -80px;
			left: clamp(26.25rem, calc(-12.687rem + 62.8vw), 34.375rem);
			opacity: 0.8;
		}

		@include media-breakpoint-up(xl) {
			top: -66px;
			left: clamp(31.25rem, calc(-118.75rem + 200vw), 41.25rem);
			opacity: 1;
		}
	}

	.grid-list-item1 {
		grid-column-start: 1;
		grid-column-end: 5;

		grid-row-start: 2;
		grid-row-end: 2;

		&.compatibility {
			grid-row-start: 1;
		}

		@include media-breakpoint-up(sm) {
			grid-column-start: 1;
			grid-column-end: 4;
			grid-row-start: 1;
			grid-row-end: 2;

			&.compatibility {
				grid-column-end: 5;
				grid-row-start: 1;
			}
		}
	}

	.grid-list-item2 {
		grid-column-start: 4;
		grid-column-end: 5;

		@include media-breakpoint-down(sm) {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
		}
	}

	.grid-list-item3 {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;

		&.compatibility {
			grid-column-end: 5;
		}

		@include media-breakpoint-down(sm) {
			grid-column-end: 5;
			grid-row-start: 4;

			&.compatibility {
				grid-column-end: 5;
				grid-row-start: 2;
			}
		}
	}
	.grid-list-item4 {
		grid-column-start: 4;
		grid-column-end: 5;

		@include media-breakpoint-down(sm) {
			grid-column-start: 3;
			grid-column-end: 5;
			grid-row-start: 1;
		}
	}
	.grid-list-item5 {
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 4;

		@include media-breakpoint-down(sm) {
			grid-row-start: 4;
			grid-row-end: 5;

			&.compatibility {
				grid-column-end: 5;
				grid-row-start: 3;
			}
		}
	}

	&--active {
		background-color: $primary-white;
	}
}

.login-registration {
	margin-bottom: 30px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;

	color: $secondary-black;

	button,
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	textarea {
		border-radius: 999px;
	}

	&::after {
		content: "";
		display: none;
		opacity: 0.19;
		z-index: -1;

		@include media-breakpoint-up(md) {
			content: url("../../resources/background-svg/Union.svg");
			display: inline-block;
			position: absolute;
			width: 300px;
			height: auto;
			top: -16px;
			left: clamp(25rem, calc(-0.83rem + 53.81vw), 32.5rem);
			opacity: 0.6;
		}

		@include media-breakpoint-up(lg) {
			width: 402px;
			height: 414px;
			top: -80px;
			left: clamp(25.625rem, calc(-10.972rem + 59.03vw), 36.25rem);
			opacity: 0.8;
		}

		@include media-breakpoint-up(xl) {
			top: -66px;
			left: cclamp(35rem, calc(19.925rem + 20.1vw), 37.5rem);
			opacity: 1;
		}
	}

	&--active {
		color: $primary-white;
		background-color: $secondary-blue;
	}
}

.login-registration__btn {
	flex-basis: 46%;
	flex-grow: 1;
}

.form-login-registration {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex-grow: 2;
	gap: 15px;
}

#form-login {
	margin-bottom: 15px;
}
