//Fonts
$font-family-inter: 'Inter', serif;
$font-family-mulish: 'Mulish', serif;
$font-family-antonio: 'Antonio', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

// ---
// Override some variables for bootstrap
$breakpoints: (
	xs: 376px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	xxxl: 1920px
);

//---
//Colors
$color-white: #fff;
$color-black: #000;
$color-black-tabs: #091133;
$color-black-tabs-border: rgba(0, 0, 0, 0.18);
$color-blue: #0c51d6;
$color-gray-blue: #505f98;
$color-dark-blue: #222f65;
$color-gray: #cdd1d4;
$color-gray-dropdown: #a4a29d;
$color-dark-gray: #091133;
$color-dark-gray-text: #5d6970;
$color-light-gray: #f2f2f2;
$color-soft-light-gray: rgba(242, 244, 247, 0.8);
$color-soft-pink: #ebd9ef;
$color-light-pink: #ffebfd;

$primary-black: $color-dark-gray;
$primary-white: $color-white;
$primary-blue: $color-gray-blue;
$secondary-blue: $color-blue;
$secondary-black: $color-black;
$footer-bg: $color-soft-pink;
$shadow-btn: $color-soft-light-gray;
$offer-bg: $color-light-pink;

//Icons
$Icont: ();

@each $icon in (facebook, instagram, reddit, youtube) {
	$Icont: map-merge(
		$Icont,
		(
			$icon: unquote('"#{\f1+dec2hex(length($Icont) + 1)}"')
		)
	);
}

// Transition
$transition-02: 0.2s ease;
$transition-03: 0.3s ease;
$transition-04: 0.4s ease;
$transition-05: 0.5s ease;
