.destiny-matrix-description {
	margin-bottom: 70px;

	h2 {
		font-family: $font-family-roboto;
		margin-bottom: 0;
	}
	p {
		line-height: 1.7;

		&:last-of-type {
			margin-bottom: 20px;
		}
	}

	@include media-breakpoint-up(sm) {
		margin-bottom: 80px;

		p {
			font-size: 14px;
			line-height: 1.6;

			&:last-of-type {
				margin-bottom: 30px;
			}
		}
	}

	@include media-breakpoint-up(md) {
		margin-bottom: 140px;

		h2 {
			margin-bottom: 20px;
		}

		p {
			font-size: 16px;

			&:last-of-type {
				margin-bottom: 50px;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		margin-bottom: 179px;

		h2 {
			margin-bottom: 20px;
		}

		p {
			font-size: 18px;
			line-height: 1.66;

			&:last-of-type {
				margin-bottom: 52px;
			}
		}
	}

	@include media-breakpoint-up(xl) {
		h2 {
			margin-bottom: 20px;
		}

		p {
			font-size: 20px;
			line-height: 1.3;

			&:last-of-type {
				margin-bottom: 52px;
			}
		}
	}
}

.description--subtitle {
	display: flex;
	flex-direction: column;

	section {
		width: 100%;

		h3 {
			margin-bottom: 5px;

			font-family: $font-family-roboto;
			font-size: 13px;
			line-height: 1.4;
		}
	}

	@include media-breakpoint-up(xs) {
		h3 {
			margin-bottom: 0;
			line-height: 2;
		}
	}

	@include media-breakpoint-up(sm) {
		flex-direction: row;
		flex-wrap: nowrap;
		column-gap: 25px;

		section {
			width: 50%;

			h3 {
				margin-bottom: 12px;

				font-size: 18px;
				line-height: 1.5;
			}

			p {
				margin-bottom: 0;
			}
		}
	}

	@include media-breakpoint-up(md) {
		column-gap: 40px;

		section {
			h3 {
				margin-bottom: 20px;
				font-size: 22px;
				line-height: 1.4;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		column-gap: 45px;

		section {
			h3 {
				margin-bottom: 20px;
				font-size: 24px;
				line-height: 1.0833;
			}
		}
	}

	@include media-breakpoint-up(xl) {
		section {
			h3 {
				margin-bottom: 20px;
				font-size: 24px;
				line-height: 1.0833;
			}
		}
	}
}
