footer {
	width: 100vw;
	padding: 45px 0 135px;

	flex: 0 0 auto;

	font-size: 14px;
	line-height: 1.714;

	background-color: $footer-bg;

	@include media-breakpoint-up(md) {
		padding: 42px 0;
	}
}

.footer-wrapper {
	margin: 0 auto;
	padding: 0;
	padding-left: clamp(0.938rem, calc(-1.84rem + 13.89vw), 1.875rem);
	padding-right: clamp(0.938rem, calc(-1.84rem + 13.89vw), 1.875rem);

	@include media-breakpoint-up(md) {
		max-width: 1152px;
		padding: 0 20px;
	}
}

.footer-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	row-gap: 40px;

	padding: 0 30px 23px 30px;

	@include media-breakpoint-up(sm) {
		flex-direction: column;
		align-items: center;
		row-gap: 40px;

		padding: 0 0 16px 0;
	}

	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;
	}

	@include media-breakpoint-up(lg) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		row-gap: 40px;
	}
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	order: 2;

	ul {
		display: flex;
		column-gap: clamp(0.625rem, calc(0.083rem + 2.71vw), 2.25rem);
	}

	@include media-breakpoint-up(lg) {
		order: 1;
	}
}

hr {
	display: block;
	width: 90%;
	margin: 0 auto;
	border: none;
	height: 1px;
	background-color: $color-gray;

	@include media-breakpoint-up(md) {
		margin-bottom: 10px;
	}
}

.footer-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 22px 0 0 0;

	@include media-breakpoint-up(md) {
		padding: 0 64px;
	}

	&__icons {
		display: flex;

		margin-bottom: 38px;

		font-size: 17px;
		line-height: 1;
		gap: 30px;

		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	&__privacy {
		margin-bottom: 40px;

		display: flex;
		column-gap: 18px;

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}

	> hr {
		display: block;
		margin: 0 auto;
		margin-bottom: 40px;

		width: clamp(10.625rem, calc(6.921rem + 18.52vw), 11.875rem);

		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	&__copyright {
		text-align: center;
	}
}

.to-action {
	display: flex;
	flex-direction: row;
	order: 1;
	gap: 15px;

	@include media-breakpoint-up(md) {
		row-gap: 26px;
	}
}

.btn-footer-blue {
	text-transform: none;
	width: 135px;
	padding: 5px 20px;

	@include media-breakpoint-up(sm) {
		width: 215px;
		padding: 10px 10px;
	}
}

.btn-footer-white {
	width: 135px;
	padding: 5px 20px;

	@include media-breakpoint-up(sm) {
		width: 215px;
		padding: 10px 10px;
	}

	@include media-breakpoint-up(md) {
		padding: 7.5px 55px;
	}
}
