.testimonials {
	margin-bottom: 100px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include media-breakpoint-up(md) {
		margin-bottom: 160px;
		align-items: center;
	}

	@include media-breakpoint-up(xl) {
		margin-bottom: 260px;
	}

	button {
		align-self: center;
		padding: 9px 22px;

		@include media-breakpoint-up(xs) {
			padding: 9px 39px;
		}

		@include media-breakpoint-up(lg) {
			padding: 14px 86px;
		}

		@include media-breakpoint-up(xl) {
			padding: 17px 109px;
		}
	}

	h2 {
		margin-bottom: 40px;

		@include media-breakpoint-up(md) {
			margin-bottom: 70px;
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: 90px;
		}
	}

	ul {
		margin-bottom: 40px;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		column-gap: clamp(2.375rem, calc(1.634rem + 3.7vw), 2.625rem);

		& li:last-child {
			display: none;
		}

		@include media-breakpoint-up(sm) {
			grid-template-columns: repeat(3, 1fr);
			column-gap: clamp(1.25rem, calc(-2.525rem + 9.25vw), 4.875rem);

			& li:last-child {
				display: block;
			}
		}

		@include media-breakpoint-up(md) {
			margin-bottom: 70px;
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: 101px;
			grid-template-columns: repeat(3, 1fr);

			& li:last-child {
				display: block;
			}
		}

		li {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: start;

			@include media-breakpoint-up(sm) {
				align-items: center;
				text-align: center;
			}

			img {
				width: 60px;
				height: 60px;

				margin-bottom: 14px;

				border-radius: 120px;
				background-color: #d9d9d9;
				object-fit: cover;

				@include media-breakpoint-up(sm) {
					margin-bottom: 40px;
					width: 120px;
					height: 120px;
				}

				@include media-breakpoint-up(lg) {
					margin-bottom: 50px;
				}
			}

			p {
				margin-bottom: 18px;

				&:last-of-type {
					margin-bottom: 0px;
				}
			}
		}
	}
}
